services:
  - type: web
    name: masjed-app
    env: node
    plan: free
    branch: main
    buildCommand: "npm ci && npm run build"
    startCommand: "npm run start"
    disk: 1024
    autoDeploy: true
    region: frankfurt
    envVars:
      - key: NODE_VERSION
        value: "20"
      - key: NODE_ENV
        value: production
      - key: NEXT_PUBLIC_API_URL
        value: "https://masjed-app.onrender.com"
      # Optional integrations
      - key: HCAPTCHA_SECRET
        sync: false
      - key: HCAPTCHA_SITEKEY
        sync: false
      - key: NEXT_PUBLIC_APP_VERSION
        value: "2.0.0"
